   /* css reset  */
 
   body {
       font-family: 'Bruno Ace SC', cursive;
       margin: 0px;
       padding: 0px;
       background: url('img/gymbg1.jpg');

   }

   .left {
       display: inline-block;
       position: absolute;
       left: 35px;
       top: 0px;
       color: white;
       /* border: 2px solid red; */
   }

   .mid {
       display: block;
       width: 52%;
       margin: 2px auto;
       color: white;
       /* border: 2px solid whitesmoke; */

   }

   .right {
       position: absolute;
       right: 34px;
       top: 20px;
       display: inline-block;
       color: white;
       /* border: 2px solid yellow; */
   }

   .navbar {
       display: inline-block;
       /* border: 2px solid red; */
   }

   .navbar li {
       display: inline-block;
       padding: 10px 14px;
       font-size: 18px;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-weight: bold;
   }

   .navbar li a {
       color: white;
       text-decoration: none;

   }

   .navbar li a:hover,
   .navbar li :active {
       color: grey;
   }

   .left img {
       display: inline-block;
       width: 47px;
       border: 2px solid black;
       border-radius: 75px;

   }

   .left div {
       text-align: center;
   }

   .btn {
       margin: 0px 9px;
       background-color: black;
       color: white;
       padding: 4px 10px;
       border: 2px solid gray;
       border-radius: 8px;
       font-size: 15px;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       font-weight: 900;
       cursor: pointer;
   }

   .btn:hover {
       background-color: rgb(196, 186, 186);
   }

   .container {
       border: 2px solid whitesmoke;
       margin: 64px 14px;
       padding: 78px 20px;
       display: block;
       width: 33%;
       border-radius: 22px;
   }

   .container h1 {
       font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
       font-size: 26px;
       text-align: center;
   }

   .form-group input {
       display: block;
       margin: 10px auto;
       text-align: center;
       width: 210px;
       border-radius: 10px;
   }

   .form-group button {
       display: block;
       width: 36%;
       margin: 25px auto;
       border: 1px solid black;
       border-radius: 10px;
       background-color: black;
       color: white;
       font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }